{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'landpage/img/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'landpage/img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'landpage/img/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'landpage/img/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'landpage/img/safari-pinned-tab.svg' %}" color="#5bbad5">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- CSS FILES START -->
<link href="{% static 'landpage/css/style.css' %}" rel="stylesheet">
<link href="{% static 'landpage/css/slick.css' %}" rel="stylesheet">
<link href="{% static 'landpage/css/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'landpage/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'landpage/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'landpage/css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'landpage/css/magnific-popup.css' %}" rel="stylesheet">

<script src="https://kit.fontawesome.com/211be29027.js" crossorigin="anonymous"></script>
